<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>title</title>
<meta name="keywords" content="keywords" />
<meta name="description" content="description" />

{* include 'header-meta.htm' *}

</head>
<body>


<div id="wrap">
	<div class="container" id="page-main">
		<div class="row">

			<div class='col-xs-12 col-sm-6 col-md-8'>

				<div class='box' id='topics_index'>
					<div align='left' class='cell'>
						<div class='pull-right marketing'>
							<span class='gray' style='font-size: 110%'>
								<span class="snow"></span></span>
						</div>
						<div class='bigger welcome'></div>
						<div class='sep10'></div>
						<div class="jumbotron"><h1></h1><p></p></div>
					</div>
					<span id="infolist">

        {* foreach $tips_generalize as $key=>$value *}
						<div class='cell topic'>
							<div class='avatar pull-left'>
								<a href="#" class="profile_link" title="username">
									<img alt="" class="medium_avatar" src="http://cdn.v2ex.com/avatar/2f87/d717/36104_large.png?m=1363607111" />
								</a>
							</div>
							<div class='item_title'>
								<div class='pull-right'>
									<div class='badge badge-info'><a href="#">badge-info</a></div>
								</div>
								<h2 class='topic_title'>
									<a href="#" class="startbbs topic">startbbs</a>
								</h2>
								<div class='topic-meta'>
									<a href="#" class="node">cname</a>
									<span class='text-muted'>.</span>
									<a href="#" class="dark startbbs profile_link" title="">username</a>
									<span class='text-muted'>.</span>
									<span class='text-muted'>.</span>
								</div>
							</div>
						</div>
						{* /foreach *}

					</span><!--infolist-->

					<div class='inner'>
						<div class='pull-right'><img align="absmiddle" alt="Rss" src="" />
							<a href="" class="dark" target="_blank">RSS</a>
						</div>
						&nbsp;
						<span class='chevron'>»</span>
						<a href="javascript:void(0)" id="getmore" class="startbbs">更多新主题</a>
					</div>
				</div>
				<script>
				$(function() {
						var page=2;
						$("#getmore").click(function() {
							var data;
							$.get('<?php echo site_url();?>/home/getmore/'+page,function(data){
								page++;
								$("#infolist").append(data);
								});
							//$("#infolist").after(tr);
							});
						});

				</script>


				<div class="box">
					<div class='box-header'>
						话题节点
					</div>
					<?php if(1==0){?>
					<div class="inner">
						<?php foreach ($catelist[0] as $v){?>
						<?php if(@$catelist[$v['cid']]){?>

						<ul class="list-inline">
							<li class="test-muted"><?php echo $v['cname']?></li>
							<?php foreach(@$catelist[$v['cid']] as $c){?>
							<li class="btn btn-default"><a href="<?php echo site_url($c['flist_url']);?>" class="startbbs"><?php echo $c['cname']?></a></li>
							<?php }?>
						</ul>
						<?php } else {?>
						<ul class="list-inline">
							<?php foreach((array)@$catelist[$v['cid']] as $c){?>
							<li class="tags"><a href="<?php echo site_url($v['flist_url']);?>" class="startbbs btn btn-default">cname</a></li>
							<?php }?>
						</ul>
						<?php }?>
						<?php }?>
					</div>
					<?php }?>

				</div>


			</div>

			<div class='col-xs-12 col-xs-12 col-sm-6 col-md-4' id='Rightbar'>
				<div class='box'>
					<div class='box-header'>
						comment status	
					</div>
					<div class='inner'>
						<table border='0' cellpadding='3' cellspacing='0' width='100%'>
							<tr>
								<td align='right' width='70'>
									<span class='gray'>new customer</span>
								</td>
								<td align='left'>
									<strong><?php echo $last_user['username']?></strong>
								</td>
							</tr>
							<tr>
								<td align='right' width='70'>
									<span class='gray'>register </span>
								</td>
								<td align='left'>
									<strong><?php echo $total_users?></strong>
								</td>
							</tr>
							<tr>
								<td align='right' width='70'>
									<span class='gray'>today topic</span>
								</td>
								<td align='left'>
									<strong><?php echo $today_forums;?></strong>
								</td>
							</tr>
							<tr>
								<td align='right' width='70'>
									<span class='gray'>topic num</span>
								</td>
								<td align='left'>
									<strong><?php echo $total_forums?></strong>
								</td>
							</tr>

							<tr>
								<td align='right' width='50'>
									<span class='gray'>replay</span>
								</td>
								<td align='left'>
									<strong></strong>
								</td>
							</tr>
						</table>
					</div>
				</div>


				<div class='box'>
					<div class='box-header'>
						frinds link
					</div>
					<div class="inner">
						<ul class="list_unstyled">
							<li style="width:0; height:0; overflow:hidden;"><a href="http://www.startbbs.com" target="_blank">StartBBS</a></li>
							<?php if($links){?>
							<?php foreach($links as $v){?>
							<?php if($v['is_hidden']==0){?>
							<li><a href="<?php echo $v['url'];?>" target="_blank"><?php echo $v['name'];?></a></li>
							<?php } else {?>
							<li>none</li>
							<?php } ?>
							<?php }?>
							<?php } else {?>
							<li>none</li>
							<?php }?>
						</ul>
					</div>
				</div>


			</div>
</div></div></div>
