<div id="content">
	  <div class="container">
		    <div class="well-form">
              <h1 class="slug">注册</h3>
                <form action="http://dev.openvim.com/u/register" method="post" accept-charset="utf-8"id =  "register-welcome-form" >
		        <div class="control-group">
					<input type="text" name="register_email" placeholder="Email地址" class="text-34" style="height:30px" required="" />
			    </div>
		        <div class="control-group">
					<input type="password" name="register_password" placeholder="登陆密码" class="text-34" style="height:30px" required="" data-validation-matches-match="pass" data-validation-matches-message="Must match password entered above" />
			    </div>
              <div class="control-group">
		          <div class="controls">
					<input type="text" name="register_username" placeholder="常用名" class="text-34" style="height:30px" required="" data-validation-matches-match="pass" data-validation-matches-message="Must match password entered above" />
				  </div>
			    </div>
             <div class="form-actions">
                <span>
                </span>
			      <button class="btn btn-primary" type="submit">注 册</button>
                </div>
              </form>
		      <div class="form-extra">
                <h3 class="slug">推荐使用第三方登陆</h3>
                <a href="{* $oauth_url.oauth2_weibo_url *}"><button class="btn btn-danger"><i class="glyphicons-google_plus"></i>新浪微博登陆</button></a>
			  </div>
		               </div>
	  </div>
</div>
