<div id="content">
	<div class="container">
		<div class="well-form">
			<h1 class="slug">注册</h3>
			<form action="http://dev.openvim.com/u/register" method="post" accept-charset="utf-8"id =  "register-welcome-form" >
				<div class="control-group">
					<input type="text" name="login_email" placeholder="Email地址" class="text-34" style="height:30px" required="" />
				</div>
				<div class="control-group">
					<input type="password" name="login_password" placeholder="登陆密码" class="text-34" style="height:30px" required="" />
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="text" name="register_username" placeholder="常用名" class="text-34" style="height:30px" required=""  value="{* $user.name *}" />
					</div>
				</div>
				<div class="form-actions">
					<span>
					</span>
					<button class="btn btn-primary" type="submit">注 册</button>
				</div>
			</form>
			<style>
#current_avatar {
padding: 5px;
background-color: #fff;
box-shadow: 0 1px 3px rgba(34,25,25,.4);
-moz-box-shadow: 0 1px 3px rgba(34,25,25,.4);
-webkit-box-shadow: 0 1px 3px rgba(34,25,25,.4);
}
			</style>
			<div class="form-extra">
				<div class="avatar" >
					<img id="current_avatar" src="{* $user.avatar_large *}" >
				</div>
			</div>
		</div>
	</div>
</div>
