<div id="Warpper" style="background-color: #E0E0E0; padding-top: 20px; border-bottom: 1px solid #CCC;">
	<div id="content">
		<div class="container">
			<div class="row">

				<!-- <style> -->
				<!-- ul.nav-tabs li.active{ -->
				<!--   margin-top: -3px; -->
				<!-- } -->
				<!-- </style> -->

				<div class="span12">
					<div class="row">
						<div class="span9">
							<div class="box" style="background: white; border-radius: 3px; box-shadow: 0px 1px 5px rgba(0,0,0,0.15); border-bottom: 1px solid #E2E2E9; margin-bottom: 20px;">

								<div class="cell topic">
									<div class="avatar pull-left">
										<a href="/member/121212" class="profile_link" title="121212"><img alt="121212 medium avatar" class="medium_avatar" src="/avatar/medium_default.png"></a>
									</div>
									<div class="item_title">
										<div class="pull-right">
											<div class="badge badge-info">1</div>
										</div>
										<h2 class="topic_title">
											<a href="/t/407" class="rabel topic">健康分享</a>
										</h2>
										<div class="topic-meta">
											<a href="/member/121212" class="dark rabel profile_link" title="121212">121212</a>
											<span class="muted">•</span>
											2 天前
											<span class="muted">•</span>
											最后回复来自
											<a href="/member/121212" class="rabel profile_link" title="121212">121212</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="span3" style="" id="right-barnar">Level 2</div>
					</div>
				</div>







				<div class="pagination pagination-centered">
					{* $pagination_link *}
				</div>
			</div>
