<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<meta content='True' name='HandheldFriendly'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<title>title</title>
<meta name="keywords" content="title" />
<meta name="description" content="content" />
{* include 'header-meta.htm' *}
</head>
<body id="startbbs">
<div id="wrap">
	<div class="container" id="page-main">
		<div class="row">
			<div class='col-xs-12 col-sm-6 col-md-8'>
				<div class='box'>
					<div class='box-header'>
						<div class='pull-right'>
							topic number
							<div class='badge badge-info'>
								&nbsp;
								2014
								&nbsp;
							</div>
						</div>
						<a href="/" class="startbbs">site_name</a> <span class="chevron">&nbsp;›&nbsp;</span> tips 
					</div>
					<div class='cell'> this is the place for discription of block</div>
				</div>

				<div class='box'>
					<div class='box-header'>
					</div>
        {* foreach $nodeTopicList as $topic *}
					<div class='admin cell topic'>
						<table border='0' cellpadding='0' cellspacing='0' width='100%'>
							<tr>
								<td class='avatar' valign='top'>
									<a href="#" class="profile_link" title="">
										<img alt="" class="medium_avatar" src="http://cdn.v2ex.com/avatar/2f87/d717/36104_large.png?m=1363607111" />
									</a>
								</td>
								<td style='padding-left: 12px' valign='top'>
									<div class='pull-right'>
										<div class='badge badge-info'><a href="view_url">10</a></div>
									</div>
									<div class='sep3'></div>
									<h2 class='topic_title'>
										<a href="#" class="startbbs topic">{* $topic['title'] *}</a>
									</h2>
									<div class='topic-meta'>
										<a href="#" class="node">cname</a>
										&nbsp;&nbsp;•&nbsp;&nbsp;
										<a href="" class="dark startbbs profile_link" title="username">username</a>
										&nbsp;&nbsp;•&nbsp;&nbsp;
										&nbsp;&nbsp;•&nbsp;&nbsp;
										last reply from
										<a href="" class="startbbs profile_link" title="agred">jack</a>
									</div>
								</td>
							</tr>
						</table>
					</div>
					{* /foreach *}
					<div class='cell topic'>
						no reply yet
					</div>

					<div class='inner'>
				<div class="pagination pagination-centered">
					{* $pagination_link *}
				</div>

						<ul class='pager'>
							<li>
							<!--<span class='gray'></span>-->
							</li>
							<li class='next'>
							<!--<a href="/go/noticeboard?p=2">下一页 →</a>-->
							</li>
						</ul>
					</div>

				</div>

			</div>
			<div class='col-xs-12 col-sm-6 col-md-4' id='Rightbar'>

			</div>
</div></div></div>

